@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    background-color: #CCD8E8;
}
.dashboard-community .community-banner {
    text-align: center;
    padding: 5em 2em 3em;
}
.dashboard-community .community-banner h2 {
    font-size: 3.5em;
    width: 40vw;
    margin: 0 auto;
    line-height: 1.25em;
    padding-bottom: .5em;
}
.dashboard-community .community-banner p {
    margin: 0 auto;
    font-weight: 700;
    font-size: 1.5em;
}
.dashboard-community .community-image-container {
    padding-top: 4em;
    width: 100%;
    height: 350px;
}
.dashboard-community .community-image-container img {
    width: 90%;
    height: 100%;
}
.dashboard-community .community-output {
    width: 90vw;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 4em;
}
.dashboard-community .community-output .search-bar {
    width: 30%;
    padding-bottom: 1em;
    margin: 0 auto;
}
.dashboard-community .community-output .search-bar img {
    padding-left: 15px;
}
.dashboard-community .community-output #search {
    width: 100%;
    display: block;
    margin-top: -35px;
    padding: 10px 50px;
    border-radius: 5px;
    border: 1px solid #023E8A;
    background-color: #CCD8E8;
    outline: none;
}
.dashboard-community .community-output::placeholder {
    color: #023E8A;
}
.dashboard-community .community-output #search:hover {
    background-color: #F9FAFB;
}
.dashboard-community .community-output #search:focus {
    border: 3px solid #023E8A;
    background-color: #F9FAFB
}
.dashboard-community .community-output .community-result {
    padding-top: 2em;
}

.dashboard-community .community-output .spreadsheet-img-container img {
    width: 90%;
    height: 80%;
}
.dashboard-community .community-output .spreadsheet-snippet {
    width: 100%;
    height: 400px;
    background-color: #f9f9f9;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    flex-direction: column;
}
.dashboard-community .community-output .spreadsheet-user {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
}
.dashboard-community .community-output .spreadsheet-snippet p {
    padding: .6em 2em;
    font-size: .8em;
    margin-left: 2em;
    width: max-content;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: rgb(185, 190, 190);
}
.dashboard-community .community-output .spreadsheet-img-container {
    background-color: rgb(185, 190, 190);
    width: 100%;
    height: 80%;
    display: flex;
    margin: auto;
    margin-bottom: 3em;
} 
.dashboard-community .community-output .spreadsheet-img {
    background-color: rgba(217, 218, 219, 0.555);
    margin: auto;
    width: 95%;
    height: 90%;
}
.dashboard-community .community-output .user-details,
.dashboard-community .community-output .likes,
.dashboard-community .community-output .views {
    display: flex;
    width: max-content;
    padding-left: 1.5em;
    justify-content: space-between;
    align-items: center;
}
.dashboard-community .community-output .user-img {
    width: 40px;
    height: 40px;
    border: 2px solid #023E8A;
    border-radius: 50%;
    object-fit: fill;
}
.user-name {
    padding-left: 15px;
    font-weight: 700;
    font-size: .8em;
    color: #807f7ffd;
}
.spreadsheet-interaction {
    display: flex;
    padding-right: 1.5em;
}
.likes img, 
.views img {
    width: 30px;
    height: 25px;
    padding-right: 5px;
}
.likes p, 
.views p {
    color: #807f7ffd;
    font-size: .75em;
    font-weight: 800;
}
@media only screen and (max-width: 900px) {
    dashboard-community .community-banner h2 {
        font-size: 2.5em;
        width: 40vw;
        margin: 0 auto;
        line-height: 1em;
        padding-bottom: .5em;
    }
    .dashboard-community .community-banner p {
        font-weight: 700;
        font-size: 1em;
    }
    .dashboard-community .community-image-container {
        padding-top: 2em;
        width: 100%;
        height: 300px;
    }
}
@media only screen and (max-width: 1250px) {
    .dashboard-community .community-banner {
        padding: 4em 2em 3em;
    }
    .dashboard-community .community-banner h2 {
        font-size: 3em;
    }
    .dashboard-community .community-banner p {
        font-size: 1.25em;
    }
    .dashboard-community .community-image-container {
        width: 90%;
        height: 230px;
        margin: auto;
    }
    .dashboard-community .community-output .search-bar {
        width: 40%;
    }
}
@media only screen and (max-width: 650px) {
    .dashboard-community .community-banner {
        padding: 3em 2em 3em;
    }
    .dashboard-community .community-banner h2 {
        font-size: 1.75em;
    }
    .dashboard-community .community-banner p {
        font-size: 1em;
    }
    .dashboard-community .community-image-container {
        width: 90%;
        height: 170px;
        margin: auto;
    }
    .dashboard-community .community-output .search-bar {
        width: 40%;
    }
    .dashboard-community .community-output #search {
        margin-top: -30px;
        padding: 7px 40px;
    }
}
    @media only screen and (max-width: 450px) {
        .dashboard-community .community-banner {
            padding: 2em 2em .8em;
        }
        .dashboard-community .community-banner h2 {
            font-size: 1.5em;
        }
        .dashboard-community .community-banner p {
            font-size: .8em;
        }
        .dashboard-community .community-image-container {
            padding-top: 2em;
            width: 90%;
            height: 80px;
            margin: auto;
        }
        .dashboard-community .community-output .search-bar {
            width: 40%;
        }
        .dashboard-community .community-output #search {
            margin-top: -30px;
        }
        .dashboard-community .community-output .spreadsheet-user {
            display: flex;
            flex-direction: column;
        }
}