/* dashboard */
.workspace {
  display: flex;
  flex-direction: column;
}
.workspace .workspace-logo img {
  width: 45px;
}
/*  */
.workspace header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #023e8a;
  height: max-content;
  width: 100vw;
  /* overflow: hidden; */
  padding: 13.5px 20px 7.5px 50px;
  position: fixed;
  top: 0;
  z-index: 1;
}

.workspace header a {
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 7.5px 12.5px;
  text-decoration: none;
  /* font-weight: bolder; */
  margin-right: 10px;
}

.workspace .navybar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0px 30px; */
}


.workspace main {
  margin-top: 15vh;
}

.workspace main#dash .page-content {
  margin-top: 10px;
}

/* Dropdown Button */
.dropdown {
  float: right;
  /* overflow: hidden; */
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 14px;
  border: none;
  outline: none;
  color: #b7b7b7;
  padding: 5px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown .dropbtn i {
  width: 2px;
  margin-right: 5px;
  
  /* margin-left: -3px; */
}

.navybar a:hover,
.dropbtn:focus {
  background-color: #f9fbff;
  color: #023e8a;
  border-radius: 10px;
}

.dropdown:hover .dropbtn {
  background-color: #f9fbff;
  color: #023e8a;
}

.navybar .propic {
  width: 30px;
  border-radius: 50%;
  border: 1px solid #b7b7b7;
  padding: 3px;
}

.navybar .propic:hover {
  border: 1px solid #023e8a;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  top: 14;
  background-color: #023e8a;
  width: max-content;
  box-shadow: 0px 8px 16px 0px hsla(0, 0%, 0%, 0.2);
  z-index: 1;
  text-align: center;
  padding: 25px 10px 15px;
  border-radius: 5px;
}

.dropdown-content a {
  float: none;
  color: #f9fbff;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  text-align: center;
  margin: 5px 0px;
  font-size: 12px;
}

/* .dropdown-content a:nth-of-type(1) {
  ;
  padding-top: 15px;
} */

.dropdown-content p:nth-of-type(2) {
  padding-bottom: 10px;
  border-bottom: 1px solid #d4d4d4;
}

.dropdown-content p {
  /* margin-bottom: 20px; */
  line-height: -5px;
}

.dropdown-content small {
  color: #f9fbff;
  font-weight: bolder;
}

.show {
  display: block;
}

/* dropdown ends */

/* sidenav starts */
/* The sidebar menu */
.sideynav {
  height: 86.5%; /* Full-height: remove this if you want "auto" height */
  width: max-content; /* Set the width of the sidebar */
  position: absolute; /*Fixed Sidebar (stay in place on scroll)*/
  /* top: 150px; Stay at the top */
  left: 0;
  bottom: 0;
  background-color: #023e8a;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 25px 35px 20px 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  /* text-align: center; */
}

/* The navigation menu links */
.sideynav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #f9fbff;
  display: block;
  margin: 10px 0px 10px 10px;
}

/* When you mouse over the navigation links, change their color */
.sideynav a:hover {
  border: 1px solid #f9fbff;
  background-color: #f9fbff;
  color: #023e8a;
  border-radius: 5px;
  /* color: #7dadeb; */
}

/* workspace styles */

main .page-content {
  padding: 30px 50px;
  width: 85%;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
}

#dash {
  background-color: #ffffff;
}

.page-content .uploads {
  display: flex;
  justify-content: space-around;
  color: #023e8a;
}

.page-content .uploads img {
  max-width: 50px;
  margin-bottom: 10px;
}

.page-content .uploads .file h4 {
  padding-bottom: 10px;
}
.workbox {
  display: grid;
  place-items: center;
  margin: 25px auto;
  padding: 15px;
  border: 3px dotted #023e8a;
  width: 90%;
}

/* File upload style */

.uploads img {
  transform: rotate(180deg);
}

.addyellow {
  background: yellow;
}
/* 
.btn {
  color: #ffffff;
  float: right;
  padding: 6px;
  margin-top: 6px;
  margin-right: 16px;
  background: #80cbe3;
  font-size: 15px;
  border: none;
  border-radius: 0px 8px 8px 0px;
  cursor: pointer;
}
.btn:hover {
  background-color: #023e8a;
} */
