main.login-container {
  /* width: 100%;
    height: 100%; */
  width: 100vw;
  height: 100vh;
  background: #ccd8e8;
  /* font-family: "Open Sans", sans-serif; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 30px 150px;
}

.login-container .right {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-container .left {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 35px;
  /* width: 50vw; */
}

.login-container .left p {
  color: #000000;
  font-weight: 600;
}

.login-container .left form {
  margin: 20px 0px;
  font-size: 14px;
}

.login-container .left img {
  padding: 30px 0px;
  width: 100px;
}

.login-container .left form div {
  display: flex;
  flex-direction: column;
}

.login-container .left form input {
  /* display: block; */
  appearance: none;
  outline: 0;
  border: 1px solid black;
  color: #000;
  background: #ccd8e8;
  /* width: 300px; */
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 18px;
  margin-bottom: 10px;
}

.login-container .left form input::placeholder {
  font-size: 12px;
}

.login-container .left form .forgot a {
  text-decoration: none;
  color: #535353;
  text-align: right;
  display: block;
}

.login-container .left form button {
  padding: 5px 20px;
  background-color: #023e8a;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  height: 56px;
  border-radius: 10px;
  margin: 10px 0px;
}

.login-container .left form button:hover {
  background-color: #001e45;
  color: #ffffff;
  text-decoration: none;
}

.dontHave {
  text-decoration: none;
  color: #535353;
  text-align: center;
  display: block;
}

.dontHave a {
  text-decoration: none;
  color: #023e8a;
}

small a:hover {
  text-decoration: underline;
}

.right img {
  width: 50vw;
  padding: 20px 50px;
}

/* password reset form styles */

.login-container div.pass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  text-align: center;
}

.login-container div.pass img {
  width: 100px;
  margin-bottom: 60px;
}

.login-container div.pass h2 {
  color: #023e8a;
  padding-bottom: 20px;
  font-size: 30px;
}

.login-container div.pass p {
  font-weight: bold;
  font-size: 18px;
}

.login-container div.pass hr {
  width: 60vw;
  border: 2px solid #023e8a;
  margin: 10px 0px;
}
.login-container div.pass form {
  margin: 10px 0px;
  padding: 30px 0px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #023e8a;
}

.login-container div.pass form p label {
  font-size: 20px;
  font-weight: bold;
}

.login-container div.pass form ul {
  display: none;
}

.login-container div.pass form input {
  display: block;
  appearance: none;
  outline: 0;
  border: 1px solid #023e8a;
  color: #000;
  background: #ccd8e8;
  width: 100%;
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 14px;
  margin-bottom: 15px;
  width: 50vw;
}

.login-container div.pass form input[type="submit"] {
  padding: 15px 25px;
  background-color: #023e8a;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  /* height: 56px; */
  border-radius: 5px;
  margin: 5px 0px;
  display: block;
}

.login-container div.pass form input[type="submit"]:hover {
  background-color: #001e45;
  color: #ffffff;
  text-decoration: none;
}

.login-container div.pass form button[type="submit"] {
  padding: 15px 25px;
  background-color: #023e8a;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  /* height: 56px; */
  border-radius: 5px;
  margin: 5px 0px;
  display: block;
}

.login-container div.pass form button[type="submit"]:hover {
  background-color: #001e45;
  color: #ffffff;
  text-decoration: none;
}
