@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pwd-body {
    /* height: 80vh; */
    font-family: 'Open Sans', sans-serif;
    background-color: #CCD8E8;
}
.pwd-wrapper {
    width: 40%;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 2em;
}
.pwd-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1em;
    border: 2px solid #023d8a00;
    border-bottom: 2px solid #023E8A;
}
.pwd-heading img {
    width: 100px;
}
.pwd-heading-text {
    font-weight: 700;
    font-size: 32px;
    color: #023E8A;
}
.pwd-bottom {
    padding: .8em 1em;
}
.forgot-pwd-instructions {
    display: flex;
    align-items: center;
    padding-bottom: 1em;
    border-bottom: 1px solid #929292;
}
.forgot-pwd-instructions img {
    width: 18px;
    height: 25px;
}
.forgot-pwd-instructions p {
    padding-left: 1em;
    font-weight: 700;
    font-size: .8rem;
}
.pwd-form {
    padding-top: .85em;
    padding-bottom: .85em;
}
.pwd-form label {
    font-weight: 700;
}
.input-wrapper {
    padding-bottom: 1.5em;
}
.pwd-form input {
    margin-top: 7px;
    border: 1px solid #929292; 
    border-top: 2px solid #929292; 
    border-radius: 5px; 
    background-color: #CCD8E8;
    width: 100%;
    padding: .5em .75em;
}
input:focus {
    outline: none;
    border-color:#799ecf;
    background-color: #f0f2f7 ;
}
.pwd-form input::placeholder {
    font-size: .75em;
}
.pwd-btn {
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: .75em;
    background-color: #01295C;
}
.pwd-btn:hover {
    background-color: #023E8A;
}
.pwd-btn a {
    text-decoration: none;
    color: #F9FAFB;
    font-family: 'Open Sans', sans-serif;
    font-size: .9em;
}
.pwd-footer {
    padding-top: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pwd-footer p {
    font-size: .8em;
    font-weight: 600;
    color: #4A4A4A;
}
.pwd-footer .btn {
    width: max-content;
    padding: .5em .75em;
    background-color: #F9FAFB;
}
.pwd-footer .btn:hover {
    background-color: #023E8A;
}
.pwd-footer .btn a {
    font-size: .75em;
    font-weight: 600;
    color: #4a4a4a;
}
.pwd-footer .btn a:hover {
    color: #F9FAFB;
}
.change-pwd-bottom {
    padding-top: .5em;
}