main .profile-page-container {
  display: flex;
}

main .profile-wrapper {
  display: flex;
  padding: 3em 2em;
  margin: auto;
  justify-content: center;
}
.side-profile {
  height: max-content;
  border-radius: 10px;
  padding-right: 2em;
}

.profile-img-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 180px;
  height: 180px;
  margin-bottom: 1em;
}

.profile-img {
  width: 180px;
  height: 180px;
  padding: 2px;
  border: 1px solid #6c757d6b;
  border-radius: 50%;
  margin: auto;
  justify-content: center;
  position: absolute;
}
.profile-summary p {
  text-align: center;
  color: #023e8a;
}
.profile-name {
  padding-top: 1.25em;
  font-weight: 700;
}
.profile-email {
  font-size: 1em;
  font-weight: 600;
}
.profile-details {
  width: 70%;
  border-left: 1px solid #01152e;
  padding-left: 3em;
}
.profile-details h2 {
  color: #023e8a;
  font-weight: 700;
  padding-bottom: 0.75em;
}

.profile-details form {
  padding-top: 0.25em;
  padding-right: 1em;
}
.form-field {
  padding-bottom: 0.85em;
  padding-right: 1em;
}
.form-field label {
  display: inline-block;
  width: 130px;
  font-weight: 700;
  font-size: 16px;
  color: #6c757d;
}
.profile-details.profile-card .form-field input {
  width: 220px;
  outline: none;
  color: #191919;
  appearance: none;
  outline: 0;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  padding: 7.5px 15px;
  font-size: 14px;
  margin-bottom: 5px;
}

.profile-details .change-btn {
  border: none;
  border-radius: 5px;
  padding: 0.75em 1em;
  background-color: #023e8a;
  float: right;
  font-size: 14px;
  font-weight: 700;
  color: #f9fafb;
}

.change-btn:hover {
  cursor: pointer;
  color: #01152e;
  background-color: #b7b7b7;
}

.profile-details.profile-card .form-field input[type="file"] {
  padding: 0;
  height: max-content !important;
  position: inherit !important;
  background: #fff;
  border: none;
  margin-top: 10px;
}
.profile-details.profile-card .form-field select#id_gender,
.profile-details.profile-card .form-field select#id_country {
  padding: 0.6em 0.5em;
  width: max-content;
  /* background-color: #f9fafb; */
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  font-size: 12px;
  color: #202020;
}

.profile-details.profile-card .form-field input:hover,
.profile-details.profile-card .form-field input:focus,
.profile-details.profile-card .form-field select#id_gender:hover,
.profile-details.profile-card .form-field select#id_country:hover,
.profile-details.profile-card .form-field select#id_gender:focus,
.profile-details.profile-card .form-field select#id_country:focus {
  background-color: #f9f9f9;
  border: 1px solid #023e8a;
}
