.login-container .register-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 35px;
  width: 40vw;
}

.register-left img {
  width: 100px;
  margin-bottom: 20px;
}

.register-right img.infograph {
  width: 300px;
}

.register-right .image {
  /* height: 100vh; */
  width: 30vw;
}

.register-left h1 {
  color: #023e8a;
  /* margin-top: 20px; */
}

.register-right p {
  font-size: 14px;
  font-weight: bolder;
}

.login-container .register-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* align-self: center; */
  margin-left: 100px;
  /* padding: 0px 50px; */
  flex-wrap: wrap;
  /* box-shadow: 0px 0px 5px 3px rgba(2, 62, 138, 0.3);
  -webkit-box-shadow: 0px 0px 5px 3px rgba(2, 62, 138, 0.3);
  -moz-box-shadow: 0px 0px 5px 3px rgba(2, 62, 138, 0.3); */
  background-color: #ccd8e8;
  width: 40vw;
  height: 90vh;
}

/* .register-right-top {
  width: 80%;
  line-height: 50px;
  text-align: center;
}

.register-right-top img {
  width: inherit;
} */
.register-left p {
  color: #000000;
  font-weight: bolder;
}

.register-left form {
  margin: 10px 0px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* width: 80%; */
}

.register-left form p {
  color: #023e8a;
}

.register-left form input,
.register-left form .helptext {
  display: block;
}

.register-left form div {
  display: flex;
  flex-direction: column;
}


.register-left form input {
  display: block;
  appearance: none;
  outline: 0;
  border: 1px solid #023e8a;
  color: #000;
  background: #ccd8e8;
  width: 100%;
  border-radius: 5px;
  padding: 3px 15px;
  font-size: 14px;
  margin-bottom: 5px;
}

.register-left form input::placeholder {
  font-size: 11px;
}

.register-left form span.helptext,
.register-left form li {
  font-size: 9px;
  color: #535353;
  list-style: none;
}

.register-left form li {
  display: none;
}

.register-left form button {
  padding: 5px 20px;
  background-color: #023e8a;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  /* height: 56px; */
  border-radius: 5px;
  margin: 5px 0px;
  display: block;
}

.register-left form button:hover {
  background-color: #001e45;
  color: #ffffff;
  text-decoration: none;
}

div.error-msg {
  font-size: 12px;
  color: red;
  font-weight: bolder;
}
