main.login-container {
  padding-top: 0;
  overflow-y: scroll;
}

.login-container .register-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 35px;
  width: 50vw;
  padding-top: 20px;
  margin-right: 80px;
}

.register-left img {
  width: 80px;
  margin-bottom: 20px;
}

.register-right {
  margin-top: 80px;
}

.register-right img.infograph {
  width: 280px;
}

.register-right .image {
  /* height: 100vh; */
  width: 30vw;
}

.register-left h1 {
  color: #023e8a;
  /* margin-top: 20px; */
}

.register-right p {
  font-size: 14px;
  font-weight: bold;
  color: #023e8a;
}

.login-container .register-left {
  display: block;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-start; */
  /* align-self: center; */
  margin-left: 80px;
  margin-right: 40px;
  /* padding: 0px 50px; */
  flex-wrap: wrap;
  /* box-shadow: 0px 0px 5px 3px rgba(2, 62, 138, 0.3);
  -webkit-box-shadow: 0px 0px 5px 3px rgba(2, 62, 138, 0.3);
  -moz-box-shadow: 0px 0px 5px 3px rgba(2, 62, 138, 0.3); */
  background-color: #ccd8e8;
  width: 50vw;
  height: 80vh;
}

/* .register-right-top {
  width: 80%;
  line-height: 50px;
  text-align: center;
}

.register-right-top img {
  width: inherit;
} */
.register-left p {
  color: #191919;
  font-weight: bolder;
}

.register-left form {
  margin: 12.5px 0px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* width: 80%; */
}

.register-left form p {
  color: #023e8a;
}

.register-left form input,
.register-left form .helptext {
  margin-top: 5px;
  display: block;
}

.register-left form div {
  display: flex;
  flex-direction: column;
}

.register-left form input {
  display: block;
  appearance: none;
  outline: 0;
  border: 1px solid #023e8a;
  color: #191919;
  background: #ccd8e8;
  width: 70%;
  border-radius: 5px;
  padding: 7px 15px;
  font-size: 14px;
  margin-bottom: 10px;
}

.register-left form input:hover {
  background: #e6ecf3;
}

.register-left form input:focus {
  background-color: #f9fafb;
}

.register-left form input::placeholder {
  font-size: 13px;
}

.register-left form span.helptext,
.register-left form li {
  font-size: 9px;
  color: #535353;
  list-style: none;
}

.register-left form li {
  display: none;
}

.register-left form button {
  padding: 7px 15px;
  width: 70%;
  background-color: #023e8a;
  border: none;
  color: #d4d4d4;
  font-size: 16px;
  font-weight: 500;
  /* height: 56px; */
  border-radius: 5px;
  margin: 30px 0px 0px;
  display: block;
}

.login-container .register-left small.dontHave {
  width: 70%;
  margin-top: 0px;
  padding-bottom: 5em;
}

.register-left form button:hover {
  background-color: #001e45;
  color: #ffffff;
  text-decoration: none;
}

div.error-msg {
  font-size: 12px;
  color: red;
  font-weight: bolder;
}
