* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.body-wrap {
  background: #ccd8e8;
  width: 100%;
}

/* header styles start */
.site-header {
  display: flex;
  padding: 10px 100px 0px;
  justify-content: space-between;
  align-items: center;
  background-color: #ccd8e8;
  position: sticky;  
  left: 0;  
  right: 0;
  top: 0; 
}

/* .header-links .log{
	display: flex;
	flex-direction: row;
} */

.site-header .brand svg {
  width: 100px;
  height: 80px;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar ul li {
  padding: 0 20px;
  list-style: none;
  font-size: 16px;
  font-weight: 700;
  color: #202020;
}

.navbar ul li a {
  text-decoration: none;
  color: #202020;
}

.navbar ul li a:hover {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #023e8a;
  color: #f9fbff;
}

.navbar ul li a.button,
.hero-left a.button {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}

.button {
  padding: 10px 25px;
  background-color: #023e8a;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  width: 100px;
  height: 56px;
  border-radius: 10px;
}

.button:hover {
  background-color: #001e45;
  color: #ffffff;
  text-decoration: none;
}

/* header styles end */

/* hero styles start */
.hero {
  display: flex;
  padding: 125px 50px 80px;
  justify-content: space-around;
  align-items: center;
}

.hero-left,
.hero-right {
  /* width: 30%; */
  display: flex;
  flex-direction: column;
  width: 500px;
  /* if you dare change this weight and i catch you......YOU ARE DEAD!! #thisisOreoluwa #choosewisely */
}

.hero-left {
  line-height: 30px;
}

.hero-title {
  color: #191919;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}

.hero-left span {
  color: #023e8a;
}

.hero-paragraph,
.hero-left div {
  margin: 25px 0px;
}

.hero-paragraph {
  font-weight: 400;
  font-size: 18px;
}

.hero-right img {
  width: 500px;
}

/* end of hero*/

/* section2 starts */
.section2 {
  display: flex;
  padding: 25px 100px 50px;
  justify-content: space-around;
  align-items: flex-start;
}

.section2 .list {
  display: flex;
  justify-content: space-between;
  width: 800px;
}

.list p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list p .circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #023e8a;
}
.list p span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.list p i {
  font-size: 56px;
  color: #ccd8e8;
}

.list .icon-text {
  font-size: 24px;
  font-weight: 700;
  margin-top: 15px;
}
/* hero styles end */

/* feature starts */

.features {
  width: 100%;
  display: flex;
  padding: 125px 0px;
  flex-direction: column;
  justify-content: space-between;
}

section.features {
  margin-bottom: 10px;
}

.features1,
.features2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.feature-image,
.features-header {
  width: 500px;
}

.features-header {
  padding-top: 30px;
}

.features2 .features-header {
  padding-top: 100px;
}

.feature-image img {
  width: 475px;
  margin-top: -80px;
}

.features-title {
  font-size: 28px;
  line-height: 40px;
  font-weight: 700;
  color: #191919;
}

.features-title span {
  color: #023e8a;
}

.features-paragraph {
  line-height: 25px;
  color: #202020;
  font-weight: 600;
  margin: 25px 0px 75px;
}

.features-header a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #023e8a;
}

.features-header a:hover {
  color: #001e45;
}
 /* how to use stylling starts here */

section.section-how {
  margin-top: 0px;
}

section.section-how .how-to {
  padding: 0px 110px 50px;
}

section.section-how .how-to h2 {
  padding-bottom: 20px;
  font-size: 40px;
}

section.section-how .how-to h2 span {
  color: #023e8a;
}

section.section-how .steps {
  display: flex;
  padding-bottom: 20px;
  align-items: center;
}

section.section-how .steps:nth-of-type(2) {
  align-items: flex-start;
}

section.section-how .steps .order {
  margin-right: 10px;
  color: #f9fbff;
  background-color: #023e8a;
  padding: 3px 5px 2px;
  height: max-content;
}

section.section-how .order-text {
  font-weight: 600;
  line-height: 26px;
  color: #202020;
}
/* section.section-how .how-to ol {
  list-style: none;
  counter-reset: item;
}

section.section-how .how-to li {
  font-weight: 600;
  line-height: 26px;
  color: #202020;
  padding-bottom: 16px;
  counter-increment: item;
  margin-bottom: 5px;
}

section.section-how .how-to li::before {
  margin-right: 10px;
  content: counter(item);
  background: #023e8a;
  border-radius: 1px;
  color: #f9fbff;
  width: 1.5em;
  text-align: center;
} */
 
/* testimony styling starts here */
.testimony {
  display: flex;
  flex-direction: column;
  padding: 40px 110px;
}

.testimony-title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 30px;
}

.testimony-title span {
  color: #023e8a;
}

.testimony1,
.testimony2 {
  display: flex;
  align-items: center;
}

.testimony img {
  width: 240px;
  height: 256px;
  margin-right: 40px;
}

.testimony figcaption {
  text-align: center;
  margin-right: 40px;
}

.testimony .work {
  color: red;
  line-height: 10px;
}

.testimony p {
  line-height: 28px;
  padding: 0 50px;
  font-weight: 600;
  font-size: 16px;
  color: #202020;
}

/* start footer */

.footer-container {
  background-color: #023e8a;
}

.site-footer {
  width: 100%;
  display: flex;
  padding: 50px 100px;
  justify-content: space-between;
}

.footer-copyright {
  line-height: 25px;
  color: #ccd8e8;
  margin-top: 25px;
}

.footer-links li,
.footer-socials li {
  list-style: none;
  line-height: 35px;
  color: #f9fbff;
  font-size: 14px;
  font-weight: 500;
}

.footer-links {
  margin-left: 150px;
}

.footer-socials {
  margin-right: 20px;
}
.footer-socials li svg {
  margin-right: 5px;
}

.footer-links a,
.footer-socials a {
  color: #f9fbff;
  text-decoration: none;
}

.footer-links a:hover,
.footer-socials a:hover {
  color: #b6b4b4;
  text-decoration: underline;
}
