
/* community page */
.community-banner {
  text-align: center;
  padding: 10em 2em 5em;
  background-color: #c4c0c0a2;
}
.community-banner h2 {
  font-size: 3em;
  width: 40vw;
  margin: auto;
  line-height: 1.25em;
  padding-bottom: 0.5em;
}
.community-banner p {
  font-weight: 700;
}
.community-search {
  margin: auto;
  padding-top: 3em;
  padding-bottom: 4em;
}
.search-bar {
  padding-bottom: 1em;
}
#search {
  background: url("./images/icons8-search.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 10px;
  margin: 0 auto;
  display: block;
  padding: 10px 40px;
  border: 1px solid #c4c0c0a2;
  border-radius: 5px;
}
::placeholder {
  color: rgb(133, 124, 124);
}
.community-result {
  padding-top: 2em;
}
.spreadsheet-snippet {
  width: 100%;
  height: 400px;
  background-color: #c4c0c0a2;
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  flex-direction: column;
}
.spreadsheet-user {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}
.spreadsheet-snippet p {
  padding: 0.6em 2em;
  font-size: 0.8em;
  margin-left: 2em;
  width: max-content;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: rgb(185, 190, 190);
}
.spreadsheet-img-container {
  background-color: rgb(185, 190, 190);
  width: 100%;
  height: 80%;
  display: flex;
  margin: auto;
  margin-bottom: 3em;
}
.spreadsheet-img {
  background-color: rgba(217, 218, 219, 0.555);
  margin: auto;
  width: 95%;
  height: 90%;
}
.user-details,
.likes,
.views {
  display: flex;
  width: max-content;
  padding-left: 1.5em;
  justify-content: space-between;
  align-items: center;
}
.user-img {
  width: 35px;
  height: 40px;
  border: 2px solid #c4c0c0a2;
  border-radius: 50%;
  padding-top: 3px;
}
.user-name {
  padding-left: 15px;
  font-weight: 700;
  font-size: 0.8em;
  color: #807f7ffd;
}
.spreadsheet-interaction {
  display: flex;
  padding-right: 1.5em;
}
.likes img,
.views img {
  width: 25px;
  height: 25px;
  padding-right: 5px;
}
.likes p,
.views p {
  color: #807f7ffd;
  font-size: 0.75em;
  font-weight: 800;
}

.col-sm-3 {
  position: fixed;
  top: 0;
  height: 100vh;
}
