{% extends "base.html" %}
{% block title %}cChange Password Page{% endblock title %}
{% block content %}

<div class="shadow p-4 mb-5 bg-body rounded">
    <h1>Change Password....</h1>

    <form action="" method="POST">
        {% csrf_token %}
        
        
        <!-- <div class="mb-3"> -->
            <!-- <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="test" class="form-control" name="username" aria-describedby="emailHelp">
            
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password">
          </div>
        <div class="form-floating mb-3"> -->
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Change Password</button>
        <!-- </div> -->
                    
        <!-- <input type="submit" value="submit" class="btn btn-secondary"> -->
    </form>

</div>
{% endblock content %}