{% extends "base.html" %} {% block content %}
<main class="login-container">
  <!-- <div class="login-inner"> -->
  <div class="left">
    <div>
      {% load static %} <img src={% static "images/login_logo.png" %} alt="login logo">
      <h1>Log in</h1>
      <p>Enter your credentials to access your account</p>
    </div>
    <form action="" method="POST">
      {% csrf_token %}

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"
          >Username or Email</label
        >
        <input
          type="test"
          class="form-control"
          name="username"
          aria-describedby="emailHelp"
          placeholder="Don Smith"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" placeholder="7777777" />
      </div>
      <small class="forgot"><a href="{% url 'password_reset' %}">Forgot Your Password?</a></small>
      <div class="form-floating mb-3">
        <button type="submit" class="btn btn-primary">Log in</button>
      </div>
      <small class="dontHave">Don’t have an account? <a href="{% url 'register' %}">Sign up</a></small>

      <!-- <input type="submit" value="submit" class="btn btn-secondary"> -->
    </form>
  </div>

  <div class="right">
    {% load static %} <img src={% static "images/login.png" %} alt="login page image">
  </div>
  <!-- </div> -->
</main>
{% endblock content %}
