{% extends "base.html" %}

{% block content %}
    <h1>Login</h1>

    <form action="" method="POST">
        {% csrf_token %}
        
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="Username" placeholder="Username">
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" name="Password" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating mb-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        
            
        <!-- <input type="submit" value="submit" class="btn btn-secondary"> -->
    </form>
{% endblock content %}