{% extends 'base.html' %} {% block content %}
<main class="login-container">
  <div class="pass">
    {% load static %} <img src={% static "images/login_logo.png" %} alt="login
    logo">
    <h2>Forgot your password?</h2>
    <hr>
    <p>
      Enter your email address and <br>
      we’ll send you a link to reset your password
    </p>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <input type="submit" value="Reset" />
    </form>

    <a href="{% url 'login' %}">Back to Login</a>
  </div>
</main>
{% endblock %}
