{% extends "base.html" %}

{% block content %}

<!-- code for profile page below -->

<div class="profile-wrapper">
    <div class="side-profile profile-card">
        <div class="profile-summary">
            <div class="profile-img-container">
                {% load static %} <img class="profile-img" id="profile-img" src={% static 
                "images/wanten.png" %} alt="user profile image">
                <a class="" href="#">
                    {% load static %}  <img class="change-img" src={% static 
                    "images/icons8-camera-30.png" %} alt="change profile image icon">
                </a>
            </div>
            <p class="profile-name">Wanten Sheed</p>
            <p class="profile-email">wanten@comp.ng</p>
        </div>
    </div>
    
    <div class="profile-details profile-card">
        <h2>Profile Information</h2>
        <form action="">
            <div class="form-field">
                <label for="name">First Name</label>
                <input type="text" id="fname" name="fname"><br>
                <button class="change-btn">Change</button>
            </div>
            <div class="form-field">
                <label for="name">Last Name</label>
                <input type="text" id="lname" name="lname"><br>
                <button class="change-btn">Change</button>
            </div>
            <div class="form-field">
                <label for="name">Username</label>
                <input type="text" id="u-name" name="u-name"><br>
                <button class="change-btn">Change</button>
               
            </div>
            <div class="form-field">
                <label for="name">Gender</label>
                <input type="text" id="gender" name="gender"><br>
                <button class="change-btn">Change</button>
            </div>
            <div class="form-field">
                <label for="name">Country</label>
                <input type="text" id="country" name="country"><br>
                <button class="change-btn">Change</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}