{% extends "base.html" %} {% block content %}

<!-- Code goes here -->

<!-- code for mobile nav -->
<!-- <nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target="#myNavbar"
      >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Workspace</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">community</a></li>
      </ul>
    </div>
  </div>
</nav> -->

  <!-- <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2>Logo</h2>
      <ul class="nav nav-pills nav-stacked d-flex flex-column">
        <li class="active"><a href="{% url 'workspace' %}">Workspace</a></li>
        <li><a href="{% url 'project' %}">Projects</a></li>
        <li><a href="{% url 'community' %}">Community</a></li>
      </ul>
      <br />
    </div>
    <br />
<<main div="community-test"> -->
  <main class="dashboard-community community-page">
    <section class="community-banner">
        <h2>Compare Wizard Community</h2>
        <p>Explore over 500+ data analysis all by our real life community members</p>
        <div class="community-image-container">
          {% load static %} <img src={% static "images/image-overlay.png" %} alt="community">
        </div>
    </section>
    <section class="community-output">
        <div class="search-bar">
          {% load static %} <img src={% static "images/icons8-search.png" %} alt="search-icon">
            <form method="" action="" id="">
                <input id="search" name="search" type="text" placeholder="Search..." />
            </form>
        </div>
        <div class="community-result">
            <div class="spreadsheet-snippet">
                <p class="spreadsheet-title">Annual Fee.xlsx</p>
                <div class="spreadsheet-img-container">
                    <img src="" alt="" class="spreadsheet-img">
                </div>
            </div>
            <div class="spreadsheet-user">
                <div class="user-details">
                  {% load static %} <img class="user-img" src={% static "images/wanten.png" %} alt="user avi">
                    <p class="user-name">Wanten</p>
                </div>
                <div class="spreadsheet-interaction">
                    <div class="likes">
                      {% load static %} <img src={% static "images/icons8-heart-50.png" %} alt="like icon">
                        <p class="like-count">100</p>
                    </div>
                    <div class="views">
                      {% load static %} <img src={% static "images/icons8-view-64.png" %} alt="views icon" >
                        <p class="view-count">500</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="community-result">
            <div class="spreadsheet-snippet">
                <p class="spreadsheet-title">Annual Fee.xlsx</p>
                <div class="spreadsheet-img-container">
                   <img src="" alt="" class="spreadsheet-img">
                </div>
            </div>
            <div class="spreadsheet-user">
                <div class="user-details">
                  {% load static %} <img class="user-img" src={% static "images/wanten.png" %} alt="user avi">
                    <p class="user-name">Wanten</p>
                </div>
                <div class="spreadsheet-interaction">
                    <div class="likes">
                      {% load static %} <img src={% static "images/icons8-heart-50.png" %} alt="like icon">
                        <p class="like-count">100</p>
                    </div>
                    <div class="views">
                      {% load static %} <img src={% static "images/icons8-view-64.png" %} alt="views icon" >
                        <p class="view-count">500</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock content %}