{% extends "base.html" %} {% block content %}

<div class="workspace">
  <header>
    <div class="workspace-logo">
      <a href="{% url 'home' %}">
        {% load static %} <img src={% static "images/logo.svg" %} alt="logo">
      </a>
    </div>
    <!-- <div class="search-bar">
      {% load static %} <img src={% static "images/icons8-search.svg" %} alt="search-icon">
      <form method="" action="" id="">
        <input
          id="search"
          name="search"
          type="text"
          placeholder="Search..."
        />
      </form>
    </div> -->
    <div>
      <nav class="navybar">
        <a href="{% url 'project' %}">My Projects</a>
        <a href="{% url 'community' %}" target="_blank">Community</a>
        <!-- profile -->
        <div class="dropdown">
          <button class="dropbtn" onclick="myFunction()">
            {% load static %}
            <img
              src="{{ user.profile.avatar.url }} "
              alt="user profile image"
              class="propic"
            />
            <i class="fa fa-caret-down" onclick="myFunction()"></i>
          </button>
          <div class="dropdown-content" id="myDropdown">
            <p><small>{{ user.username }}</small></p>
            <p><small>{{ user.email }}</small></p>
            <a href="{% url 'profile' %}">Edit Profile</a>
            <a href="{% url 'password_change' %}">Change Password</a>
            <a href="{% url 'logout' %}">Log out</a>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <!-- after the navbar -->
  <main id="dash">
    <!-- new side bar -->

    <div class="sideynav">
      <a href="#" id="high">Highlight</a>
      <a href="#" id="rem">Remove</a>
      <a href="#">Compare</a>
      <a href="#">Merge</a>
      <a href="{% url 'project' %}">Save Project</a>
    </div>
    <div class="page-content" id="project-page-cont">
      <div class="uploads">
        <!-- my work -->
        <div class="file">
          {% load static %} <img src={% static "images/upload.svg" %}
          alt="upload-icon"/>
          <div>
            <h4>File 1: Upload files/Paste URL</h4>
            <form method='post' action="" enctype="multipart/form-data">{% csrf_token %}
            <input type="file" id="excel_file1" name='excel_file1'/> <input type='submit' value='+'>
            </form>
          </div>
        </div>
        <!-- second file -->
        <div class="file">
          {% load static %} <img src={% static "images/upload.svg" %}
          alt="upload-icon"/>
          <div>
            <h4>File 2: Upload files/Paste URL</h4>
            <form method='post' action="" enctype="multipart/form-data">{% csrf_token %}
            <input type="file" id="excel_file2" name='excel_file2'/> <input type='submit' value='+'>
            </form>
          </div>
        </div>
      </div>

      <div class="workbox" id="for-one"></div>
      <div class="workbox" id="for-two"></div>

      <!-- <div class="workbox">
        <input type="file" id="file" />
        <label for="file">
          {% load static %} <img src={% static "images/upload.svg" %}
          alt="upload-icon"/>
        </label>

        <h4>Upload files/Paste URL</h4>

        <form>
          <input type="text" placeholder="Paste URL..." name="file" />
          <button class="btn" type="submit">Upload</button>
        </form>
      </div> -->
    </div>
  </main>
</div>

<!-- dashboard JS -->

// uploading
<script>
  const excel_file = document.getElementById("excel_file1");
  const excel_file2 = document.getElementById("excel_file2");

  var reader = new FileReader();

  excel_file.addEventListener("change", (event) => {
    if (
      ![
        "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
        "application/vnd.ms-excel",
      ].includes(event.target.files[0].type)
    ) {
      document.getElementById("for-one").innerHTML =
        "<div>Only .xlsx or .xls file format are allowed</div>";
      excel_file.value = "";
      return false;
    }

    reader.readAsArrayBuffer(event.target.files[0]);
    reader.onload = function (event) {
      var data = new Uint8Array(reader.result);
      var work_book = XLSX.read(data, { type: "array" });
      var sheet_name = work_book.SheetNames;
      var sheet_data = XLSX.utils.sheet_to_json(
        work_book.Sheets[sheet_name[0]],
        { header: 1 }
      );

      if (sheet_data.length > 0) {
        var table_output = "<table>";
        for (var row = 0; row < sheet_data.length; row++) {
          table_output += "<tr>";
          for (var cell = 0; cell < sheet_data[row].length; cell++) {
            if (row == 0) {
              table_output += "<th>" + sheet_data[row][cell] + "</th>";
            } else {
              table_output += "<td>" + sheet_data[row][cell] + "</td>";
            }
          }
          table_output += "</tr>";
        }
        table_output += "</table>";
        document.getElementById("for-one").innerHTML = table_output;
      }
      excel_file.value = "";
    };
  });
  //   for the file 2

  excel_file2.addEventListener("change", (event) => {
    if (
      ![
        "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
        "application/vnd.ms-excel",
      ].includes(event.target.files[0].type)
    ) {
      document.getElementById("for-two").innerHTML =
        "<div>Only .xlsx or .xls file format are allowed</div>";
      excel_file2.value = "";
      return false;
    }

    var reader = new FileReader();
    reader.readAsArrayBuffer(event.target.files[0]);
    reader.onload = function (event) {
      var data = new Uint8Array(reader.result);
      var work_book = XLSX.read(data, { type: "array" });
      var sheet_name = work_book.SheetNames;
      var sheet_data = XLSX.utils.sheet_to_json(
        work_book.Sheets[sheet_name[0]],
        { header: 1 }
      );

      if (sheet_data.length > 0) {
        var table_output = "<table>";
        for (var row = 0; row < sheet_data.length; row++) {
          table_output += "<tr>";
          for (var cell = 0; cell < sheet_data[row].length; cell++) {
            if (row == 0) {
              table_output += "<th>" + sheet_data[row][cell] + "</th>";
            } else {
              table_output += "<td>" + sheet_data[row][cell] + "</td>";
            }
          }
          table_output += "</tr>";
        }
        table_output += "</table>";
        document.getElementById("for-two").innerHTML = table_output;
      }
      excel_file2.value = "";
    };
  });
  //   Hightlight duplicates
  const high = document.getElementById("high");

  high.addEventListener("click", function (arr) {
    var data = new Uint8Array(reader.result);

    var work_book = XLSX.read(data, { type: "array" });

    var sheet_name = work_book.SheetNames;

    var sheet_data = XLSX.utils.sheet_to_json(work_book.Sheets[sheet_name[0]], {
      header: 1,
    });

    arr = sheet_data;
    // newArr = arr.toString().split(",")
    const tdCell = document.querySelectorAll("td");
    let arrB = [];

    // pushed value of innerText into an array
    for (let item of tdCell) {
      arrB.push(item.innerText);
    }
    // console.log(arrB);

    // find the duplicates
    const set = new Set(arrB);

    const duplicates = arrB.filter((item) => {
      if (set.has(item)) {
        set.delete(item);
      } else {
        return item;
      }
    });

    // console.log(duplicates)

    // matching
    for (let item of tdCell) {
      for (i = 0; i < duplicates.length; i++) {
        if (item.innerText === duplicates[i]) {
          item.classList.add("addyellow");
        }
      }
    }
  });

  // ends here

  // removing starts here
  const remov = document.getElementById("rem");

  remov.addEventListener("click", function (arr) {
    var data = new Uint8Array(reader.result);

    var work_book = XLSX.read(data, { type: "array" });

    var sheet_name = work_book.SheetNames;

    var sheet_data = XLSX.utils.sheet_to_json(work_book.Sheets[sheet_name[0]], {
      header: 1,
    });

    arr = sheet_data;
    // newArr = arr.toString().split(",")
    const tdCell = document.querySelectorAll("td");
    let arrB = [];

    // pushed value of innerText into an array
    for (let item of tdCell) {
      arrB.push(item.innerText);
    }
    // console.log(arrB);

    // find the duplicates
    const set = new Set(arrB);

    const duplicates = arrB.filter((item) => {
      if (set.has(item)) {
        set.delete(item);
      } else {
        return item;
      }
    });

    for (let item of tdCell) {
      item.classList.remove("addyellow");
      for (i = 0; i < duplicates.length; i++) {
        if (item.innerText === duplicates[i]) {
          item.parentElement.remove();
          duplicates.splice(i, 1);
        }
      }
    }
   const newFileTable = document.querySelector('table')
   console.log(newFileTable)
  });

  // Downloading
</script>
{% endblock content %}
