{% extends "base.html" %} {% block content %}

<div class="workspace">
  <header>
    <div>
      {% load static %} <img src={% static "images/logo.svg" %} alt="logo">
    </div>
    <div>
      <nav class="navybar">
        <a href="#">Workspace</a>
        <a href="#">My Projects</a>
        <a href="#">Community</a>
        <!-- profile -->
        <div class="dropdown">
          <button class="dropbtn" onclick="myFunction()">
            {% load static %} <img src={% static "images/profile.svg" %}
            alt="profile image">
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content" id="myDropdown">
            <p><small>username</small></p>
            <p><small>email</small></p>
            <a href="#">Edit Profile</a>
            <a href="#">Change Password</a>
            <a href="#">Log out</a>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <!-- after the navbar -->
  <main>
    <!-- new side bar -->

    <div class="sideynav">
      <a href="#">Highlight</a>
      <a href="#">Clean</a>
      <a href="#">Compare</a>
      <a href="#">Merge</a>
      <a href="#">Save Project</a>
      <a href="#">Showcase</a>
      <a href="#">Download</a>
    </div>
    <div class="page-content">
		
	</div>
  </main>
</div>
{% endblock content %}
