{% extends "base.html" %} {% block content %}

<div class="workspace">
  <header>
    <div>
      {% load static %} <img src={% static "images/logo.svg" %} alt="logo">
    </div>
    <div>
      <nav class="navybar">
        <a href="{% url 'project' %}">My Projects</a>
        <a href="{% url 'community' %}" target="_blank">Community</a>
        <!-- profile -->
        <div class="dropdown">
          <button class="dropbtn" onclick="myFunction()">
            {% load static %}
            <img
              src="{{ user.profile.avatar.url }} "
              alt="user profile image"
              class="propic"
            />
            <i class="fa fa-caret-down" onclick="myFunction()"></i>
          </button>
          <div class="dropdown-content" id="myDropdown">
            <p>
              <small>{{ user.username }}</small><br />
              <small>{{ user.email }}</small>
            </p>
            <a href="{% url 'profile' %}">Edit Profile</a>
            <a href="{% url 'password_change' %}">Change Password</a>
            <a href="{% url 'logout' %}">Log out</a>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <!-- after the navbar -->
  <main id="dash" >
    {% comment %} style="margin: 12% auto">
    <a href="{% url 'dashboard' %}"><button>Start Project</button></a> {% endcomment %}
    <!-- new side bar -->
    <div>
      <form action="{% url 'new_project' %}" method="post" enctype="multipart/form-data" id="p-form">
          {% csrf_token %}
          <div>
              <label for="title">Project Name</label>
              <input type="text" name="title" id="title" placeholder="new project">
          </div>
          <div>
              <input type="checkbox" name="status" id="status" checked>
              <label for="status">Visibility</label>
          </div>

          <input type="submit">

          <p>Note Visibility checked means that the project will be public ***</p>
      </form>
  </div>
  <div>
      <ul>
        {% for i in wanten %}
        <li>{{ i.project_name }}, ____ {{ i.date_created }}, ___{{i.last_modified}}</li>
        {% endfor %}
      </ul>
  </div>
    <!-- <div class="sideynav">
      <a href="#">Highlight</a>
      <a href="#">Clean</a>
      <a href="#">Compare</a>
      <a href="#">Merge</a>
      <a href="#">Save Project</a>
      <a href="#">Showcase</a>
      <a href="#">Download</a>
    </div> -->
    <div class="page-content"></div>
  </main>
</div>
{% endblock content %}



<!-- :root {--dark-color: rgb(0, 0, 0);
  --white-color: white;
  --light-color: grey;
  --purple-color: rgb(153, 0, 255);
  --navyblue-color: rgb(44, 7, 104);}
  
  *  {margin:0px;
  padding: 0px;
  box-sizing: border-box;}
  
  body  {font-family: 'fantasy', sans-serif;
  background-color:var(--purple-color) ;
  color: var(--dark-color);}
  
  .main {margin: auto; width:70%; padding: 50px;
      display: flex;}
  
  nav {display: flex;
  justify-content: space-between;
  padding: 60px;}
  
  .wrapper {background-color: var(--white-color);
      border-radius: 20px; padding:30px;}
  
  .topper {display:flex;}
  
  .grid-container {display: grid;
      column-gap:10px;
  grid-template-columns: auto auto auto auto auto auto;}
  
  .light-bg {border-radius: 49px;
  margin-right:30px;}
  
  .name {align-self: center;
  font-size: 3.5em;
  letter-spacing: 6px;
  font-family:'monospace', cursive;}
  
  .name span  {font-weight:900;}
  
  .surname { text-indent: 50px;}
  
  .contact-info {list-style:circle;
  align-self: center;}
  
  .contact-item {margin-bottom: 5px; margin-left: 60px;}
  
  .contact-item a {text-decoration: none;}
  
  .item h3 {padding-left: 20px; line-height: 3em; 
      color:var(--navyblue-color)}
  
  .item-body {line-height: 1.5em;
       padding-bottom:30px; padding-left:140px ;}
  
  .project, a {text-decoration: none;}
  
  hr {border: 1px double rgb(111, 111, 184);}
  
  
  /*for back-to-top button*/
  #myBtn {display:none; position:fixed; bottom:20px; right:30px;
  z-index:99; border:none; outline:none; background-color: rgb(61, 10, 59);
  color: white; cursor: pointer; padding: 15px; border-radius: 4px;}
  
  #myBtn:hover {background-color: rgb(14, 160, 45);}
  
  
  /*for theme change*/
  .darkmodebox {position: fixed; top:90px;
       background-color: rgb(2,10,31);
        color:azure; right: 30px; z-index:99;}
        
        .darkmodebox:hover {background-color: rgb(3, 121, 121);}
  
  .darkmodeforsmall {display: none;}
  
  .mystyle {background-color: black;
  color: white;}
  
  .mystyle h3 {color:aquamarine;} -->