{% extends "base.html" %} {% block content %}

<div class="container">
  <header>
    <nav>
      <div class="logo">
        {% load static %} <img src={% static "images/logo.svg" %} alt="logo">
      </div>

      <div class="other-icons">
        <div class="dropdown">
          <button class="dropbtn">Compare ▼</button>

          <div class="dropdown-content">
            <a href="#">Compare</a>
            <a href="#">Compare & fix</a>
            <a href="#">Compare, fix & merge</a>
          </div>
        </div>

        <button class="btn-2">Analyse</button>

        <p>Hi! <span>Wanten</span></p>

        {% load static %} <img src={% static "images/profile.svg" %}
        alt="profile-image" />
      </div>
    </nav>
  </header>

  <main>
    <!-- Side navigation -->
    <div class="sidenav">
      <a href="{% url 'workspace' %}">Workspace</a>
      <a href="{% url 'project' %}">Projects</a>
      <a href="{% url 'community' %}">Community</a>
    </div>

    <!-- Page content -->
    <div class="page-content">
      <div class="box">
        <input type="file" id="file" />
        <label for="file"
          >{% load static %} <img src={% static "images/upload.svg" %}
          alt="upload-icon"/>
        </label>

        <h4>Upload files/Paste URL</h4>

        <form>
          <input type="text" placeholder="Paste URL..." name="file" />
          <button class="btn" type="submit">Upload</button>
        </form>
      </div>

      <div class="box">
        <input type="file" id="file" />
        <label for="file"
          >{% load static %} <img src={% static "images/upload.svg" %}
          alt="upload-icon" /></label
        >

        <h4>Upload files/Paste URL</h4>

        <form>
          <input type="text" placeholder="Paste URL..." name="file" />
          <button class="btn" type="submit">Upload</button>
        </form>
      </div>
    </div>
  </main>
</div>

{% endblock content %}
