{% extends "base.html" %} {% block content %}

<div class="body-container">
  <header>
    <nav>
      <!-- <img src="./src/icon.svg" alt="" /> -->
      {% load static %} <img src={% static "images/logo.svg" %} alt="logo">
      <div>
        <select name="functions" id="">
          <option value="c">Compare ▼</option>
          <option value="cf">Compare&fix</option>
          <option value="cfm">Compare, fix & marge</option>
        </select>
        <button id="btn-1" class="btn">Analyse</button>
        <p>Hi! <span>Wanten</span></p>
        <img src="./src/icon.png" id="icon" alt="" />
      </div>
    </nav>
  </header>

  <main>
    <!-- Side navigation -->
    <div class="sidenav">
      <a href="#">Workspace</a>
      <a href="project.html">Project</a>
      <a href="community.html">Community</a>
    </div>

    <!-- Page content -->
    <div class="page-content">
      <div class="workbox">
        <input type="file" id="file" />
        <label for="file"
          ><img src="./icons/upload.svg" alt="upload-icon"
        /></label>

        <h4>Upload files/Paste URL</h4>

        <form>
          <input type="text" placeholder="Paste URL . . ." name="file" />
          <button class="btn" type="submit">Upload</button>
        </form>
      </div>

      <div class="workbox">
        <input type="file" id="file" />
        <label for="file"
          ><img src="./icons/upload.svg" alt="upload-icon"
        /></label>

        <h4>Upload files/Paste URL</h4>

        <form>
          <input type="text" placeholder="Paste URL . . ." name="file" />
          <button class="btn" type="submit">Upload</button>
        </form>
      </div>
    </div>
  </main>
</div>

{% endblock content %}
